<!DOCTYPE html>
<html>
<head>
	<title>CLASS HISTORY</title>
</head>
<body>


<b><h1>Class History</h1></b>
<h3>You attended 7 classes in July 2017</h3>

<h4>July 2- Cooking with Judy</h4>
<h4>July 3- Chivalry with Gustav</h4>
<h4>July 7- Cactus Rearing with Amelia</h4>
<h4>July 13- Technological Advances New York City Sewage with Tiffany</h4>
<h4>July 15- Still Life Illustrations with Fernando</h4>
<h4>July 24- History of the Seesaw with Johnathan</h4>
<h4>July 30- Oragami with Ayla</h4>


 </body>
 </html>
