<!DOCTYPE html>
<html>
<head>
	<title>RATE THIS CLASS</title>
</head>
<body>
<b><h1>Please Rate this Class:</b></h1>
 </body>
 </html>
<form>
	<label><input type="radio" name="rating" /> 1 Star</label>
	<label><input type="radio" name="rating" /> 2 Stars</label>
	<label><input type="radio" name="rating" /> 3 Stars</label>
	<label><input type="radio" name="rating" /> 4 Stars</label>
	<label><input type="radio" name="rating" /> 5 Stars</label>
</form>
</body>
</html>
<body>
<html>
<h4>Optional: Leave Feedback</h4>
<input type="text' name="textbox1" size="80" />
</html>
</body>