<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script src="/material-components-web/dist/material-components-web.js"></script>
<script>mdc.autoInit()</script>


    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Spectral:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="/styles/app.css" rel="stylesheet"  />
    <link href="/styles/profile.css" rel="stylesheet"  />
    <link href="/styles/rate-classes.css" rel="stylesheet"  />
    <link href="/styles/spotlight.css" rel="stylesheet"  />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

      <link rel="stylesheet"
          href="/material-components-web/dist/material-components-web.css">



    <script>
  $(document).ready(function() {

        // Page is now ready, initialize the calendar
        $('#calendar').fullCalendar({
            events: [
               {
                   title  : 'Cooking',
                   start  : '2017-08-01T10:00:00'
                  //  allDay: true,
               },
               {
                   title  : 'Origami',
                   start  : '2017-08-01T14:00:00',
               },
               {
                   title  : 'History of the Whaleship Essex',
                   start  : '2017-08-03T12:30:00',
               },
               {   title  : 'Necklace Making',
                   start   : '2017-08-05T10:30:00',
                },
                {  title   : 'Glass Blowing Presentation',
                   start   : '2017-08-06T13:00:00',
                },
                {  title   : 'Cactus Rearing',
                   start   : '2017-08-07T09:30:00', 
                },
                {   title  : 'The Art of Saving',  
                    start  : '2017-08-07T15:00:00',
                },
                {   title  : 'New York City Sewage',  
                    start  : '2017-08-09T10:00:00',
                },
                 {   title  : 'Donald Trump on Roosevelt Island',  
                    start  : '2017-08-11T14:00:00',
                },
                 {   title  : 'Balloon Class',  
                    start  : '2017-08-17T15:00:00',
                }, 
                {   title  : 'History of the Seesaw',  
                    start  : '2017-08-18T15:00:00',
                },
                {   title  : 'Sauces of the World',  
                    start  : '2017-08-15T14:00:00',
                }, 
                {   title  : 'Sauces of Roosevelt Island',  
                    start  : '2017-08-18T11:00:00',
                },
                {   title  : 'Dinosaur Conspiracy Theories',  
                    start  : '2017-08-21T13:00:00',
                },
                {   title  : 'Still Life Illustrations',  
                    start  : '2017-08-24T16:30:00',
                },
                {   title  : 'Recycling On Roosevelt Island',  
                    start  : '2017-08-24T11:30:00',
                },
                {   title  : 'The Intersection of Philosophy and the Modern Day Water Bottle',  
                    start  : '2017-08-28T16:00:00',
                },
                {   title  : 'The History of the Permanent Marker',  
                    start  : '2017-08-26T13:00:00',
                },
                {   title  : 'Why Geography Matters: A Discussion',  
                    start  : '2017-08-30T10:30:00',
                },                    

           ]
        })

    });
</script>
</head>
<body>
    <div class="main">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
