<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script src="/material-components-web/dist/material-components-web.js"></script>
<script>mdc.autoInit()</script>


    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Spectral:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <!-- <link href="/styles/index.css" rel="stylesheet"  /> -->
    <link href="/styles/app.css" rel="stylesheet"  />
    <link href="/styles/profile.css" rel="stylesheet"  />
    <link href="/styles/rate-classes.css" rel="stylesheet"  />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

      <link rel="stylesheet"
          href="/material-components-web/dist/material-components-web.css">



    <script>
  $(document).ready(function() {

        // Page is now ready, initialize the calendar
        $('#calendar').fullCalendar({
            events: [
               {
                   title  : 'event1',
                   start  : '2017-08-01'
                  //  allDay: true,
               },
               {
                   title  : 'event2',
                   start  : '2017-08-02T10:30:00',
               },
               {
                   title  : 'event3',
                   start  : '2017-08-03T12:30:00',
               }
           ]
        })

    });
</script>
</head>
<body>
    <div class="main">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
