{% extends 'account.html' %}

<h2>Profile Page</h2>

{% block accountBody %}

<div>
  <!-- put in stuff from templates folder here -->
  <!-- <img src= "/images/witnyPro.jpg" class="round"/> -->
  <!-- <div>Profile</div> -->
  <!-- <button class="mdc-button mdc-button--raised">
    Raised button
  </button>
  <a class="rectangle block" href="/schedule">Schedule</a> -->

  <!-- <div class="topProfile">
    <img src= "/images/witnyPro.jpg" class="round"/>
    <span class="name">Rita</span>
  </div> -->

</div>
{% endblock %}
