{% extends 'index.html' %}

{% block body %}

<div class="profileTopContainer">
  <div class="round">
    <img src= "/images/witnyPro.jpg" />
  </div>
  <h1>Rita</h1>
</div>

<div class="linkContainer">
  <!-- <a class="rectangle block" href="/schedule">Schedule</a>
  <a class="rectangle block" href="/rate-classes">Rate Class</a>
  <a class="rectangle block" href="/class-history">Class History</a>
  <a class="rectangle block" href="/spotlight">Spotlight</a> -->

  <button class="mdc-button mdc-button--raised">
    <a href="/schedule">Schedule</a>
  </button>
  <button class="mdc-button mdc-button--raised">
    <a href="/rate-classes">Rate Class</a>
  </button>
  <button class="mdc-button mdc-button--raised">
    <a href="/class-history">Class History</a>
  </button>
  <button class="mdc-button mdc-button--raised">
    <a href="/spotlight">Spotlight</a>
  </button>
</div>
{% endblock %}
