<!DOCTYPE html>
<html>
<head>
<title>Log In Here</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

<script src="/material-components-web/dist/material-components-web.js"></script>
<script>mdc.autoInit()</script>


<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link
  rel="stylesheet"
  href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

  <link rel="stylesheet"
      href="/material-components-web/dist/material-components-web.css">

<link rel="stylesheet" type="text/css" href="/styles/scan.css">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>

<h1>Welcome to the Roosevelt Island Senior Center!</h1>
<h2>Please scan the QR code on your keyfob to view your profile.</h2>
<div id="container">
    <video autoplay="true" id="videoElement"></video>
</div>
<button>
  <a href="/profile">
    <div>(Demo: Use this code)</div>
    <img src="/images/Rita.png"/>
  </a>
</button>
<script type="text/javascript">
var video = document.querySelector("#videoElement");

navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

if (navigator.getUserMedia) {
  navigator.getUserMedia({video: true}, handleVideo, videoError);
}

function handleVideo(stream) {
  video.src = window.URL.createObjectURL(stream);
}

function videoError(e) {
  console.error(e);
}
</script>
</body>
</html>
