{% extends 'backNav.html' %}

{% extends 'account.html' %}

{% block accountBody %}

<div class="spotlightContainer">

<div class="one">

<div id="top">
  <h1> In the Spotlight... </h1>
  <div id="rita">
    <h2 class="center"> Rita </h2>
    <img src="/images/witnyPro.jpg" height="150" width="250">
  </div>
  <p class="center"> Highest Attendance in July 2017 </p>
</div>
</div>

<div class="two">
  <div id="middle">
    <h1> Today's Activities: </h1>
    <p> 9:00 am Yoga</p>
    <p> 11:00 am Doll Making</p>
    <p> 1:30 pm Jewelry Making </p>
  </div>
</div>

<div class="three">
<div id="bottom">
  <h1> Today's Menu</h1>
  <ul>
    <li> Baked Potato</li>
    <li> Chicken</li>
    <li> Garden Salad</li>
  </ul>
</div>
</div>

<div class="four">
<div id="top2">
<h1> 80°F</h1>
<div id="sun">
<img src="/images/weather-icon-png-5.png" height="150" width="150">
<h2> It's sunny with a chance of rain</h2>
</div>
</div>
</div>

<!-- <div class="five">
<div id="middle2">
<h1> </h1>
<h2> Scan Your Bar Code Here</h2>
<div id="barcode">
<img src="/images/barcode2.png" height="150" width="150">
</div>
</div>
</div> -->

<div class="six">
<div id="bottom2">
<h2> Upcoming Events:</h2>
<div id="bbq" class="events">
<img src="/images/bbq.png" height="60" width="60">
<p>BBQ Party: August 12th</p>
</div>
<div id="kite" class="events">
<img src="/images/kite.png" height="60" width="60">
<p>Community Kite Festival: August 16th</p>
</div>
<div id="bubbles" class="events">
<img src="/images/bubbles.png" height="60" width="60">
<p>Bubbles Day: August 20th</p>
</div>


</div>
</div>

</div>

{% endblock %}
