
.rectangle {
	height:50px;
	width: 150px;
	border:1px solid black;
	background-color: pink;
	background-color: pink;
  border-radius:30%;
  padding:10px;
  font-size: x-large;
  text-align: center;
  margin: 0 auto 20px;
	text-decoration: none;
	color: white;
}

.block {
	display:block;
}


.linkContainer {
	margin: 50px;
	text-align: center;
}

#bg{
	background-image: url("/images/RI.jpg");
}

.linkContainer button {
  max-width: 400px;
  background-color: #f44336;
	display: block;
	width: 100%;
	margin: 0 auto 20px;
	font-size: 20px;
}

.linkContainer button a {
  text-decoration: none;
  color: white;
}
