body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

.one {
	color: white;
	margin:0px;
}

.center {
	text-align: center;
}

#top {
	background-color: #83b9ff;
  width: 270px;
  height: 287px;
  border: 5px solid #f44336;
  padding: 30px;
  margin: 25px;
}
#top h1{
	margin-bottom: 10px;
}


#rita {
	right-padding:30px;
	margin:0px;
	text-align: center;
}

#rita img {
	width:250px;
	height:150px;
}
.two{
	color: white;
	font-family:Oswald;
}
#middle{
	background-color: #83b9ff;
	width: 270px;
	height: 140px;
	border: 5px solid #f44336;
	padding: 30px;
	padding-top: 10px;
	margin: 25px;
}

#middle h2{
	margin-top: 10px;
	margin-bottom: 10px;
}

#middle2 {
	cursor: pointer;
}

h1, h2{
	margin:0;
}

.three{
	color: white;
}
#bottom{
	background-color: #83b9ff;
	width: 270px;
	height: 150px;
	border: 5px solid #f44336;
	padding: 30px;
	margin: 25px;

}
.four{
	color: white;
}
#sun{
	align-content: right;
}
#top2{
	background-color: #83b9ff;
	width: 200px;
	border: 5px solid #f44336;
	border-style: groove;
	padding: 30px;
	margin: 450px;
	margin-top: -840px;
}

 .five{
 	color:white;
 }
 #barcode{
 	width: 150px;
 	height:100px;
 	margin-left: 25px;
    margin-top: 18px;
 }

 #middle2{
 	background-color: #83b9ff;
 	text-align: center;
	width: 200px;
	height: 228px;
	border: 5px solid #f44336;
	padding: 30px;
	margin: 450px;
	margin-top: -400px;

 }

.six{
	color:white;
}

#bottom2{
	background-color: #83b9ff;
	width: 200px;
	height: 350px;
	border: 5px solid #f44336;
	padding: 30px;
	margin: 450px;
	margin-top: -405px;
}

#bottom2 > h2 {
	margin-bottom: 20px;
}

#bbq *, #kite *, #bubbles *{
	display: inline;


}


.events{
	margin-bottom: 15px;
}
